.last-three-card{
    width: 100%;
height: 58px;
flex-shrink: 0;
border-bottom: 1px solid #E2E2E2;
display: flex;
flex-direction: row;
justify-content: space-around;
}

@media screen and (max-width: 767px){
    .last-three-card{
        width: 100%;
    height: 58px;
    
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    }
    .icon-credit{
        width: 30px;
    height: 30px;
    margin-right: 4px;
    flex-shrink: 0;
    color: red;
    margin-top: 5px;
    }

    .icon-debit{
        width: 30px;
    height: 30px;
    flex-shrink: 0;
    color: green;
    margin-right: 4px;
    margin-top: 5px;
    }
    .transactionName{
        color: #505887;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 4px;
    }

    .category{
        color: #718EBF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 4px;
    }

    .amount{
        color: #FE5C73;
    text-align: right;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-right: 4px;
    line-height: normal;
    }

    .delete{
        width: 20px;
        margin-top: 10px;
    height: 20px;
    flex-shrink: 0;
    color: red;
    cursor: pointer;
    margin-right: 4px;
    }

    .edit{
        width: 20px;
    height: 20px;
    flex-shrink: 0;
    color: lightskyblue;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 4px;
    }


    
}
.upadte-heading{
    color: #333B69;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}
.icon-credit{
    width: 30px;
height: 30px;
flex-shrink: 0;
color: red;
}

.icon-debit{
    width: 30px;
height: 30px;
flex-shrink: 0;
color: green;
}

.transactionName{
    color: #505887;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.category{
    color: #718EBF;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.amount{
    color: #FE5C73;
text-align: right;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.edit{
    width: 20px;
height: 20px;
flex-shrink: 0;
color: lightskyblue;
cursor: pointer;
margin-top: 10px;
}
.delete{
    width: 20px;
    margin-top: 10px;
height: 20px;
flex-shrink: 0;
color: red;
cursor: pointer;
}

.close-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.delete-pop-up{
    display: flex;
    flex-direction: row;
    width: 591px;
    height: 230px;
    padding-top: 5%;
    flex-shrink: 0;
    border-radius: 16px;
    justify-content: space-around;
background: #FFF;

/* Shadow / lg */
box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
}

.delete-heading{
    color: #333B69;
font-family: sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 140% */
}

.delete-para{
    color: #505887;
font-family: sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.delete-button-12{
    height: 35px;
    width: 140px;
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 10px;
font-family: sans-serif;
border-radius: 8px;
background: #DC2626;
margin-right: 26px;
color: white;
border-width: 0px;
}

.cancel-button{
    height: 35px;
    width: 140px;
    display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
font-family: sans-serif;
gap: 10px;
border-width: 0px;
border-radius: 8px;
border: 1px solid #CBD5E1;
color: black;
background: #FFF;
}


.contaner-popup{
    width: 58px;
height: 58px;
flex-shrink: 0;
background-color: #FDE68A;
border-radius: 80px;
align-self: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 70px;
margin-left: 20px;

}

.popup-image{
    width: 40px;
height: 40px;
flex-shrink: 0;
}

.btn-container{
    display: flex;
    flex-direction: row;
}

button{
    cursor: pointer;
}