.last-three-card{
    min-width: 950px;
height: 58px;
flex-shrink: 0;
border-bottom: 1px solid #E2E2E2;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.icon-credit{
    width: 30px;
height: 30px;
flex-shrink: 0;
color: red;
}

.icon-debit{
    width: 30px;
height: 30px;
flex-shrink: 0;
color: green;
}

.transactionName{
    color: #505887;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.category{
    color: #718EBF;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.amount{
    color: #FE5C73;
text-align: right;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.edit{
    width: 20px;
height: 20px;
flex-shrink: 0;
color: lightskyblue;
}
.delete{
    width: 20px;
height: 20px;
flex-shrink: 0;
color: red;
cursor: pointer;
}