.profile-container {
   display: flex;
   width: 800px;
   height: 560px;
   padding: 25px 36px;
   flex-direction: row;
   align-items: flex-start;
   gap: 8px;
   flex-shrink: 0;
   justify-content: space-around;
  border-style: solid;
  border-width: 0.1px;
margin-left:350px ;
border-radius: 20px;
box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
margin-bottom: 100px;
}
.profile-image{
  border-radius: 80px;
  margin-left: 50px;
  margin-top: 30px;
}
.home-container-1{
  display: flex;
  flex-direction: row;
}

.profile-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-item label {
  font-weight: bold;
  margin-right: 10px;
}



.label{
  color: #505887;
font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 6px;
}
.input-bar{
  width: 200px;
height: 40px;
flex-shrink: 0;
font: 1em sans-serif;
border-radius: 15px;
border: 1px solid #DFEAF2;
background: #FFF;
margin: 6px;
}

.detailes-card{
  display: flex;
  flex-direction: column;
  margin: 20px;
}