.home-container{
    display: flex;
    flex-direction: column;
}


.credit-debit-container{
    display: flex;
    flex-direction: row;
    
}

.Last-Transaction{
    color: #333B69;
font-family: sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;
padding-left: 10px;
}


.last-three-transaction-container{
    display: flex;

    width: 100%;
  padding: 12px 25px 8px 24px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #FFF;
}

.bar-cahrt-heading{
    color: #333B69;
font-family: sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;
padding-left: 10px;
}




@media screen  and (max-width:768px){
    .sidebar-container-11{
        
        width: 100%;
        margin-left: 0%;
    
    }

    .home-container{
        display: flex;
        flex-direction: column;
    }

    .last-three-transaction-container{
        display: flex;
    
      
    padding:0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 25px;
    
    }
}

.sidebar-container-11{
    margin-left: 25%;
    width: 70%;
    

}

.items-center{
    align-self: center;
}



.main-home-container{
    display: flex;
    flex-direction: column;
}