.add-transaction-form {
    
flex-shrink: 0;
border-radius: 16px;
display: flex;
flex-direction: column;
border-radius: 16px;
background: #FFF;
padding: 20px;
font-family: sans-serif;

box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
backdrop-filter: blur(8px);

  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #4D78FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3059C0;
  }
  